<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Dashboard | Pyree</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />
        <style>
            /* 여기에 스타일링 추가 */
            #chartContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }

            canvas {
                max-width: 400px; /* 차트의 최대 너비 */
                max-height: 400px; /* 차트의 최대 높이 */
                margin: 10px;
            }
        </style>
    </head>

    <body>
        <!-- 네비게이션 -->
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <img
                    src="{{ url_for('static', filename='logo.png') }}"
                    alt="로고 이미지"
                    style="width: 120px; height: auto" />
            </div>
        </nav>

        <!-- 공격 유형 테이블 -->
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <!-- 테이블 헤더 정보 -->
                        <th scope="col">IP 주소</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Request_Method</th>
                        <th scope="col">Server_Protocol</th>
                        <th scope="col">Referer</th>
                        <th scope="col">request_uri</th>
                        <th scope="col">User Agent</th>
                        <th scope="col">Body</th>
                        <th scope="col">Cookie</th>
                        <th scope="col">ML_Prediction</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for row in data %}
                    <tr>
                        <!-- 테이블 데이터 정보 -->
                        <td>{{ row['remote_addr'] }}</td>
                        <td>{{ row['time_local'] }}</td>
                        <td>{{ row['request_method'] }}</td>
                        <td>{{ row['server_protocol'] }}</td>
                        <td>{{ row['http_referer'] }}</td>
                        <td>{{ row['request_uri'] }}</td>
                        <td>{{ row['http_user_agent'] }}</td>
                        <td>{{ row['body'] }}</td>
                        <td>{{ row['http_cookie'] }}</td>
                        <td>{{ row['ml_prediction'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 차트를 담을 컨테이너 -->
        <div id="chartContainer">
            <div style="display: flex; align-items: center">
                <canvas id="myBarChart" width="300" height="300"></canvas>
                <canvas id="myPieChart" width="300" height="300"></canvas>
            </div>
        </div>

        <!-- 스크립트 -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // ml_prediction 값의 빈도수를 계산하는 함수
            function calculatePredictionFrequency(data) {
                var predictionCount = {};
                data.forEach(function (row) {
                    var prediction = row['ml_prediction'];
                    predictionCount[prediction] = (predictionCount[prediction] || 0) + 1;
                });
                return predictionCount;
            }

            document.addEventListener('DOMContentLoaded', function () {
                var data = {{ data|tojson|safe }}; // Flask에서 전달된 데이터

                // ml_prediction 값의 빈도수 계산
                var predictions = calculatePredictionFrequency(data);

                // Pie Chart에 표시할 데이터 구성
                var pieLabels = Object.keys(predictions);
                var pieData = pieLabels.map(function (label) {
                    return predictions[label];
                });

                // Bar Chart에 표시할 데이터 구성
                var barLabels = [
                    'urlregex', 'accesscontrol', 'shellcode', 'upload',
                    'sqli', 'webattack', 'xss', 'includei', 'download', 'logical_sqli'
                ];
                var barData = barLabels.map(function (label) {
                    return predictions[label] || 0;
                });

                // Pie Chart 데이터
                var pieChartData = {
                    labels: pieLabels,
                    datasets: [{
                        label: 'ML Predictions',
                        data: pieData,
                        backgroundColor: [
                            'rgba(255, 209, 220, 0.2)',
                            'rgba(152, 251, 152, 0.2)',
                            'rgba(230, 230, 250, 0.2)',
                            'rgba(173, 216, 230, 0.2)',
                            'rgba(255, 250, 205, 0.2)',
                            'rgba(176, 224, 230, 0.2)',
                            'rgba(255, 218, 185, 0.2)',
                            'rgba(188, 238, 104, 0.2)',
                            'rgba(175, 238, 238, 0.2)',
                            'rgba(240, 128, 128, 0.2)',
                            // 추가적인 색상 설정
                        ],
                        borderColor: [
                            'rgba(255, 209, 220, 1)',
                            'rgba(152, 251, 152, 1)',
                            'rgba(230, 230, 250, 1)',
                            'rgba(173, 216, 230, 1)',
                            'rgba(255, 250, 205, 1)',
                            'rgba(176, 224, 230, 1)',
                            'rgba(255, 218, 185, 1)',
                            'rgba(188, 238, 104, 1)',
                            'rgba(175, 238, 238, 1)',
                            'rgba(240, 128, 128, 1)',
                            // 추가적인 색상 설정
                        ],
                        borderWidth: 1,
                    }]
                };

                // Bar Chart 데이터
                var barChartData = {
                    labels: barLabels,
                    datasets: [{
                        label: 'ML Predictions',
                        data: barData,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    }]
                };

                // Pie Chart 생성
                var pieCtx = document.getElementById('myPieChart').getContext('2d');
                var myPieChart = new Chart(pieCtx, {
                    type: 'pie',
                    data: pieChartData,
                });

                // Bar Chart 생성
                var barCtx = document.getElementById('myBarChart').getContext('2d');
                var myBarChart = new Chart(barCtx, {
                    type: 'bar',
                    data: barChartData,
                });
            });
        </script>
    </body>
</html>
